@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        <a asp-controller="Project" asp-action="Index">Go to Projects</a>
    </p>
    <p>
        <a asp-controller="Worker" asp-action="Index">Go to Workers</a>
    </p>
    <p>
        <a asp-controller="Task" asp-action="Index">Go to Tasks</a>
    </p>
</div>