@model MyProjectManagerApp.Models.WorkerListViewModel
<form method="get">
    <div>
        <label>Ім'я робітника': </label>
        <input asp-for="Name" />

        <input type="submit" value="Фільтр" />
    </div>
</form>